<!DOCTYPE html>
<html lang="en">

<body>
    <div id="divPadre">
        <h1>Hola <%= nombre%>
                <%= apellido%>
        </h1>
        <h2>¿Has solicitado reestablecer tu contraseña?</h2>
        <div id="divHijo">

            <h4>Si la respuesta es sí, da click en el botón</h4>

            <a href="http://localhost:8080/restorePass/<%=token%>/<%=exp%>" target="_blank">
                <button class="button">
                    <h3>Reestablecer contraseña</h3>
                </button>
            </a>
        </div>
        <h4>Si no es así, comunicate con un administrador del Sistema.</h4>
        <h4>Este mensaje caducará en 10 minutos.</h4>
    </div>
</body>

</html>

<style>
    #divPadre {
        font-family: segoe UI;
        background-color: black;
        text-align: center;
        color: white;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    #divHijo {
        font-family: segoe UI;
        width: 65%;
        margin: 0px auto;
        color: white;
    }

    .button {
        border: 5px solid #80CBC4;
        padding: 5px 20px;
        border-radius: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #26A69A;
        color: white;
    }
</style>